<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<AntExtension_EngraveProduct>
			<version>0.1.0</version>
		</AntExtension_EngraveProduct>
	</modules>
	<frontend>
		<routers>
			<engraveproduct>
				<use>standard</use>
				<args>
					<module>AntExtension_EngraveProduct</module>
					<frontName>engraveproduct</frontName>
				</args>
			</engraveproduct>
		</routers>
		<layout>
			<updates>
				<engraveproduct>
					<file>engraveproduct.xml</file>
				</engraveproduct>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<engraveproduct>
					<file>engraveproduct.xml</file>
				</engraveproduct>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<helpers>
			<engraveproduct>
				<class>AntExtension_EngraveProduct_Helper</class>
			</engraveproduct>
		</helpers>
		<blocks>
			<engraveproduct>
				<class>AntExtension_EngraveProduct_Block</class>
			</engraveproduct>
		</blocks>
		<models>
			<engraveproduct>
				<class>AntExtension_EngraveProduct_Model</class>
				<resourceModel>engraveproduct_mysql4</resourceModel>
			</engraveproduct>
		</models>
		<resources>
			<engraveproduct_setup>
				<setup>
					<module>AntExtension_EngraveProduct</module>
					<class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</engraveproduct_setup>
			<engraveproduct_write>
				<connection>
					<use>core_write</use>
				</connection>
			</engraveproduct_write>
			<engraveproduct_read>
				<connection>
					<use>core_read</use>
				</connection>
			</engraveproduct_read>
		</resources>
	</global>
</config>