<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<AntExtension_Engraveproduct>
			<version>0.1.2</version>
		</AntExtension_Engraveproduct>
	</modules>
	<frontend>
		<routers>
			<engraveproduct>
				<use>standard</use>
				<args>
					<module>AntExtension_Engraveproduct</module>
					<frontName>engraveproduct</frontName>
				</args>
			</engraveproduct>
		</routers>
		<layout>
			<updates>
				<engraveproduct>
					<file>engraveproduct.xml</file>
				</engraveproduct>
			</updates>
		</layout>
		<events>
			<controller_action_layout_load_before>
				<observers>
					<engraveproduct_controller_action_layout_load_before>
						<class>AntExtension_Engraveproduct_Model_Observer</class>
						<method>controllerActionLayoutLoadBefore</method>
					</engraveproduct_controller_action_layout_load_before>
				</observers>
			</controller_action_layout_load_before>
		</events>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<engraveproduct>
					<file>engraveproduct.xml</file>
				</engraveproduct>
			</updates>
		</layout>
		<events>
			<adminhtml_catalog_product_edit_prepare_form>
				<observers>
					<engraveproduct>
						<class>AntExtension_Engraveproduct_Model_Observer</class>
						<method>customImageInput</method>
					</engraveproduct>
				</observers>
			</adminhtml_catalog_product_edit_prepare_form>
		</events>
	</adminhtml>
	<global>
		<helpers>
			<engraveproduct>
				<class>AntExtension_Engraveproduct_Helper</class>
			</engraveproduct>
		</helpers>
		<blocks>
			<engraveproduct>
				<class>AntExtension_Engraveproduct_Block</class>
			</engraveproduct>
		</blocks>
		<models>
			<engraveproduct>
				<class>AntExtension_Engraveproduct_Model</class>
				<resourceModel>engraveproduct_mysql4</resourceModel>
			</engraveproduct>
		</models>
		<resources>
			<engraveproduct_setup>
				<setup>
					<module>AntExtension_Engraveproduct</module>
					<class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</engraveproduct_setup>
			<engraveproduct_write>
				<connection>
					<use>core_write</use>
				</connection>
			</engraveproduct_write>
			<engraveproduct_read>
				<connection>
					<use>core_read</use>
				</connection>
			</engraveproduct_read>
		</resources>
	</global>
</config>